body {
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background-color: #0B2126;
	color: #E4F2F1;
}

a {
	color: #A0F2EA;
	font-weight: bold;
}

#cardname {
	width: 288px;
	border: 1px solid #666;
	margin: 0;
	padding: 2px 5px;
}

#autocomplete_results {
	width: 300px;
	background-color: #eee;
	margin: 0;
	padding: 0;
}

li.card {
	list-style: none;
	margin: 0;
	border-bottom: 1px solid #ddd;
	color: #173840;
	background-color: #E4F2F1;
}

.card h3.quantity {
	background-color: #3F6973;
	color: #A0F2EA;
	width: 20px;
	margin: 0;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	float: left;
	display: block;
}

.card .quantity_adjust {
	width: 10px;
	background-color: #173840;
	color: #A0F2EA;
	display: block;
	float: left;
	margin: 0;
	margin-right: 5px;
	padding: 4px 2px;
	text-align: center;
}

.card .card_name {
	font-size: 1.25em;
	font-weight: bold;
	display: block;
	float: left;
}

.card .casting_cost {
	text-align: right;
	display: block;
}

.card .first_row, .card .second_row {
	padding-right: 10px;
	padding-left: 5px;
}

.card .second_row {
	margin-top: 5px;
}

.card .card_type {
	float: left;
}

.card .power_toughness {
	text-align: right;
	display: block;
}

.card .quantity_adjust .increase,
.card .quantity_adjust .decrease {
	text-decoration: none;
	font-weight: normal;
	color: inherit;
}

.card .quantity_adjust .increase:hover,
.card .quantity_adjust .decrease:hover {
	color: white;
}

li.selected {
	background-color: #ffe;
}

#deck {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
}

#deck_list {
	background-color: #173840;
	padding: 5px;
	margin: 5px;
	border-collapse: collapse;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	
}

#deck_list thead {
	background-color: #3F6973;
	color: #0B2126;
}

#deck_list td, #deck_list th {
	padding: 2px 10px;
}
