<h2><%= h @deck.name %></h2>

<form id="cardsearch">
  <input type="text" name="cardname" value="" id="cardname">
</form>

<ul id="autocomplete_results">
  
</ul>

<ul id="deck" data-deck_id="<%= @deck.id %>">

</ul>