<% content_for :pane_1 do -%>
<h2><%= h @deck.name %></h2>
<%= render :partial => 'decks/nav' %>
<% end -%>

<% content_for :pane_2 do -%>
<form id="cardsearch">
  Search: <input type="text" name="cardname" value="" id="cardname">
</form>
<div style="clear:both; float: none;"><!-- --></div>

<ul id="autocomplete_results">
  
</ul>
<% end -%>

<% content_for :pane_3 do -%>
<ul id="deck" data-deck_id="<%= @deck.id %>">

</ul>
<% end -%>