<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>DeckMaster</title>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
  
  <link rel="stylesheet" href="/stylesheets/deckmaster.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body onload="">
  <h1>DeckMaster</h1>
  <% unless flash[:notice].nil? -%>
    <div id="flash_notice">
      <%= flash[:notice] %>
    </div>
  <% end -%>
  <!--
  <div style="width: 300px" id="color_swatches">
    <div style="background-color: #0B2126">0B2126</div>
    <div style="background-color: #173840">173840</div>
    <div style="background-color: #3F6973">3F6973</div>
    <div style="background-color: #A0F2EA">A0F2EA</div>
    <div style="background-color: #E4F2F1">E4F2F1</div>
  </div>
  -->
  
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>